.iconeSite {
    width: 11em;
}

.corpo {
    background-color: black;
}

.container {
    background-color: #f799b1;
    color: white;
}

@media (min-width: 575px) {
    .cabecalho {
        margin-top: 1em;
    }

    .principal {
        margin-bottom: 1em;
    }
}